// style.scss
@use "./abstracts" as *;
@use "./widget";
@use "./dialog";
@use "./wrapper";

:root {
  --gt-cookie-font-size: 14px;
  --gt-cookie-bg: #ffffff;
  --gt-cookie-text: #e2a4a4;
  --gt-cookie-link-text: #16e124;
  --gt-cookie-button-bg: #ff0000;
  --gt-cookie-button-text: #d2a6a6;
  --gt-screen-margin: 30px;
}

.gt-cookie-noscroll {
  overflow: hidden;
}

.gt-cookie-hide {
  display: none;
}

p {
  margin: auto;
}
